@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: open-sans, sans-serif;
}

header {
    background-color: lightcoral;
    /* This is the header area */
}

h1 {
    font-family: "DM Sans", open-sans, sans-serif;
}

main {
    background-color: lightblue;
    /* This is the main content area */
    flex: 1 0 auto;
}